.hidden
    display: none
.admin-header
    background: #6394b4
    height: 40px
    line-height: 40px
    &__container

        margin:  0 auto
        max-width: 1200px

.del-btn
    float: right
.admin
    background: #203b4e
    color: #fff
    &-logo
        font-size: 24px
    &-content
        &__container
            margin:  0 auto
            max-width: 1200px
    &__data
        background: #3ff
    &__back-btn
        color: #fff
        float: right
.client
    margin-top: 10px
    &__data
        border-radius: 0 0 5px 5px 
        background: #fff
        color: #203b4e
        padding: 5px 0 0 10px
    &__name
        overflow: hidden
        border-radius: 5px 5px 0 0
        height: 30px
        line-height: 30px
        background: #6394b4
        padding: 0 10px

.form-delete
    float: right
.authorization
    min-width: 400px
    background: #fff
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    border-radius: 10px
    &-header
        color: #fff
        background: #417690
        border-radius: 10px 10px 0 0
        padding: 20px 15px
    &-main
        padding: 20px 15px
        color: #333
.password, .username
    width: 100%
    border-radius: 5px
    padding: 7px 0 7px 5px
    margin: 10px 0
.login-submit
    display: block
    background: #79aec8
    padding: 7px 15px
    border: unset
    border-radius: 5px
    margin: 0 auto
    color: #fff