.hidden
    display: none
.admin-header
    background: #6394b4
    height: 40px
    line-height: 40px
    &__container

        margin:  0 auto
        max-width: 1200px

.del-btn
    float: right
.admin
    background: #203b4e
    color: #fff
    &-logo
        font-size: 24px
    &-content
        &__container
            margin:  0 auto
            max-width: 1200px
    &__data
        background: #3ff
    &__back-btn
        color: #fff
        float: right
.client
    margin-top: 10px
    &__data
        border-radius: 0 0 5px 5px 
        background: #fff
        color: #203b4e
        padding: 5px 0 0 10px
    &__name
        overflow: hidden
        border-radius: 5px 5px 0 0
        height: 30px
        line-height: 30px
        background: #6394b4
        padding: 0 10px

.form-delete
    float: right