extends layout/layout

block title
    title Контакты
block header
    +header('Контакты')
block body
    div.page-main__wrapper
        section.contacts-page
            .contacts__content
                h1.content__header КОНТАКТЫ
                .contacts__wrapper
                    .content__text.contacts__text
                        p 
                            b Адрес:              
                            br 
                            | 355000, Россия, Ставропольский край 
                            br 
                            | г. Ставрополь, ул. Ленина 208
                            br 

                        p
                            b  Телефон: 
                            | +8 (918) 785-34-44
                            br 
                            b Email: 
                            | metal26@mail.ru
                    .contacts__form
                        span.contacts__form-text Напишите нам
                        form(method="post" action="/")
                            .form__wrapper
                                .field1
                                    input(type="text" name="name" placeholder="Имя" required )
                                    input(type="text" name="email" placeholder="Email" required)
                                .field2
                                    textarea(placeholder="Сообщение" name="message")
                            .contacts__form-btn
                                input(type="submit")
                .contacts__map
                    iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3A6c524c668eb02e824e45746c5090531a13d223e4899ab33a5d555dfa3e4ebf78&amp;source=constructor" width="100%" height="350" frameborder="0")
        include layout/footer

    