extends layout/layout

block title
    title Гибка листового металла
block header
    +header('Гибка листового металла')
block body
    div.page-main__wrapper
        section.gibka
            .breadcrumbs
                span 
                    a(href="/") Главная страницв
                span  > 
                span 
                    a(href="services.html") Услуги
                span  > 
                span Гибка листового металла
            .gibka-content
                h1.services__header Гибка листового металла
                .content__wrapper
                    img.services__img(src="img/7.jpg", alt="")
                    p.content__text Гибка металла выполняется на гидравлическом прессе с ЧПУ. Гидравлический координатно-пробивной пресс с ЧПУ предназначен для гибки листов металла из черной стали, нержавеющей стали, листов из меди, алюминия, оцинковки и т.п. Мы выполняем высокоточную гибку металла используя гидравлический координатно-пробивной пресс.
                        br
                        br
                        strong Особенности гибки металла
                        br
                        br
                        | Гибка металла позволяет получить разнообразные металлические изделия, используемые в промышленности и быту. В настоящее время гидравлические листогибочные прессы широко применяются при изготовлении всевозможных уголков, швеллеров, доборных элементов, различных металлоконструкций, в том числе и изготавливая нестандартные металлоконструкции и особенно при изготовлении деталей высокой точности.
                        br
                        br
                        | Гибка металла различной степени сложности производится из готовых предварительно раскроенных разверток. Максимально возможная длина гиба 2500 мм. При этом толщина металла, предназначенного для гибки может составлять от 0,5 мм до 6 мм.
                        br
                        br
                        | Гибка металла иногда бывает предпочтительнее чем сварка металла. Ведь после сварки могут возникнуть коррозионные процессы в месте стыка. Ведь посредством гибки металла можно легко изготовить декоративные и функциональные предметы интерьера и экстерьера, а также производственные изделия, в том числе швеллера, гнутые профили, лотки, полки, стеллажи, металлические корпуса, короба, кронштейны и различные нестандартные изделия из листового проката.

    include layout/footer