extends layout/layout

block title
    title Плазменная резка листового металла
block header
    +header('Плазменная резка листового металла')
block body
    div.page-main__wrapper
        section.plazmennaya
            .breadcrumbs
                span 
                    a(href="/") Главная страницв
                span  > 
                span 
                    a(href="services.html") Услуги
                span  > 
                span Плазменная резка листового металла
            .plazmennaya-content
                h1.services__header ПЛАЗМЕННАЯ РЕЗКА ЛИСТОВОГО МЕТАЛЛА
                .content__wrapper
                    img.services__img(src="img/1.jpg", alt="")
                    p.content__text На сегодняшний день в сфере производства металлических конструкций большой популярностью пользуется технология воздушной плазменной резки. Особенно востребованной она является в строительстве и машиностроении. Сам процесс воздушно-плазменной резки эффективно используется практически во всех отраслях промышленности, где присутствуют такие материалы как легированные и чёрные металлы. Такая резка по металлу предельно точна, высокопродуктивна и у неё хорошее качество реза.
                        br
                        br
                        | Процедура воздушно-плазменной резки заключается в местном расплавлении металла в районе реза и в последующем его выдувании. При этом электрическая дуга накалена до 15.000 — 20.000 градусов Цельсия. Высокая степень точности такой резки обеспечивает минимальную ширину реза. Воздушно-плазменная резка обеспечивает экономичный раскрой, также качественные кромки без наплывов, деформаций и грата даже по тонким листам металла. Тем самым пропадает необходимость в дополнительной механической обработке.
                        br 
                        br
                        | На сегодняшний день этот вид резки признаётся одним из самых востребованных благодаря своим конкурентным преимуществам. Лёгкость настраивания на разные по форме детали, точность, высокая выработка – основные достоинства воздушно-плазменной резки по листовым металлам. Её можно внедрять в сферы производства, при которых другие методы резки не дают нужного результата.
    include layout/footer
