extends layout/layout

block title
    title Порошковая покраска
block header
    +header('Порошковая покраска')
block body
    div.page-main__wrapper
        section.plazmennaya
            .breadcrumbs
                span 
                    a(href="/") Главная страницв
                span  > 
                span 
                    a(href="services.html") Услуги
                span  > 
                span Порошковая покраска
            .plazmennaya-content
                h1.services__header Порошковая покраска
                .content__wrapper
                    img.services__img(src="img/2.jpg", alt="")
                    p.content__text Порошковая окраска увеличивает сопротивляемость изделий к воздействию агрессивных сред, а также окружающей среды. В результате такой процедуры детали не теряют свой блеск. Толщина напыления составляет 0,2 мм, в результате чего скрываются все неровности,иные «огрехи» металла.
                        br
                        br
                        | Стоит заметить, что область применения порошковых красок все время расширяется. Они широко используются в строительстве и в сельскохозяйственном машиностроении, приборостроении и автомобилестроении, иных областях промышленности.
                        br 
                        br
                        | Мы оказываем услуги по порошковой окраске металла и располагаем широкой цветовой гаммой по каталогу RAL, все работы выполняются в соответствии с заданием заказчика.
                        br
                        br
                        | Порошковая покраска представляет собой высококачественную и экологически чистую, безотходную технологию, в результате применения которой получаются декоративные и защитно-декоративные полимерные покрытия. Порошковая окраска металлов обладает рядомпреимуществ: повышенная адгезия, высокая стойкость к ударам и различным деформациям, эластичность и устойчивость к сотрясениям.
    include layout/footer