extends layout/layout

block title
    title Продукция
block header
    +header('Продукция')
block body
    div.page-main__wrapper
        section.production
            .production__content
                h1.content__header ПРОДУКЦИЯ
                .content__text.production__text
                    p Компания ООО «Сталькон» занимается разработкой и производством металлоизделий, а также металлообработкой.
                    p Одним из приоритетных направлений деятельности нашей компании является изготовление нестандартных корпусных изделий, которые разрабатываются конструкторским бюро на основании технического задания заказчика. А также имеется ряд разработанных серийных стендов (экспозиторов) для демонстрации в выставочных залах и магазинах различных строительных материалов, таких как керамическая плитка, двери, ламинат, линолеум, ковролин, сухие смеси.
                    p Производство продукции проходит в несколько этапов. На первом этапе — создается проект будущего изделия. Далее выполняется раскрой металла на специальной лазерной установке либо координатно-пробивном прессе, после чего осуществляется гибка металла. При необходимости производится сварка (контактная, полуавтоматическая, в среде аргона, приварка метизов). Готовое изделие подвергается порошковой окраске для увеличения его эксплуатационных свойств. В заключении изделие проходит обязательный контроль качества и упаковывается.
                    p Мы располагаем широкими возможностями производства, что обеспечивает высокое качество продукции. Для наших клиентов предусмотрена гибкая система ценообразования.
        include layout/footer