extends layout/layout

block title
    title Разработка конструкторской документации
block header
    +header('Разработка конструкторской документации')
block body
    div.page-main__wrapper
        section.plazmennaya
            .breadcrumbs
                span 
                    a(href="/") Главная страницв
                span  > 
                span 
                    a(href="services.html") Услуги
                span  > 
                span Разработка конструкторской документации
            .plazmennaya-content
                h1.services__header Разработка конструкторской документации
                .content__wrapper
                    img.services__img(src="img/4.jpg", alt="")
                    p.content__text Наше конструкторское бюро — это команда высококвалифицированных инженеров-конструкторов, имеющих в своем распоряжении самое современное оборудование с новейшим программным обеспечением. Специалисты компании имеют богатый опыт в разработке проектов корпусных изделий, кронштейнов, иных металлоконструкций.
                        br
                        br
                        | Высококвалифицированные специалисты из различных сфер деятельности, благодаря совместной работе, активно используют новые передовые технологии. Высокая организация работы, компьютеризация процесса дает возможность разработать проект в предельно сжатые сроки.
                        br 
                        br
                        | Мы предлагаем широкий спектр услуг по металлообработке, производству и изготовлению различных металлических изделий. Специалисты компании разрабатывают конструкторскую документацию в соответствии с техническим заданием заказчика, выполняют пробивку, гибку и сварку металлов, запрессовку метизов, работы по гальванике, порошковой окраске, раскройке металла.
    include layout/footer