extends layout/layout

block title
    title Услуги
block header
    +header('Услуги')
block body
    div.page-main__wrapper
        section.services
            .services__content
                h1.content__header Услуги
                p.content__text Компания ООО «Сталькон» предлагает Вам любые современные услуги металлообработки. Мы располагаем новейшим промышленным оборудованием и можем исполнить любой заказ. К Вашим услугам комплексная металлообработка, раскрой листового металла на координатно-пробивномпрессе, гибка металла, пробивка металла, сварка металлов, а также изготовление корпусов и любых нестандартных металлоконструкций.
            .services__block
                
        include layout/footer
        


    