extends layout/layout

block title
    title Услуги
block header
    +header('Услуги')
block body
    div.page-main__wrapper
        section.services
            .services__content
                h1.content__header УCЛУГИ
                p.content__text Компания ООО «Метал26» предлагает Вам любые современные услуги металлообработки. Мы располагаем новейшим промышленным оборудованием и можем исполнить любой заказ. К Вашим услугам комплексная металлообработка, раскрой листового металла на координатно-пробивномпрессе, гибка металла, пробивка металла, сварка металлов, а также изготовление корпусов и любых нестандартных металлоконструкций.
            .services__block
                ul.services-list
                    li.services-list__item
                        a(href="plazmennaya-rezka-listovogo-metalla.html")
                            p.services-list__name Плазменная резка листового металла
                    li.services-list__item
                        a(href="gibka-metalla.html")
                            p.services-list__name Гибка листового металла
                    li.services-list__item
                        a(href="poroshkovaya-okraska.html")
                            p.services-list__name Порошковая покраска
                    li.services-list__item
                        a(href="svarka-metallov.html")
                            p.services-list__name Сварочные работы
                    li.services-list__item
                        a(href="razrabotka-documentaciy.html")
                            p.services-list__name Разработка конструкторской документации
                
        include layout/footer
        


    