extends layout/layout

block title
    title Сварочные работы
block header
    +header('Сварочные работы')
block body
    div.page-main__wrapper
        section.plazmennaya
            .breadcrumbs
                span 
                    a(href="/") Главная страницв
                span  > 
                span 
                    a(href="services.html") Услуги
                span  > 
                span Сварочные работы
            .plazmennaya-content
                h1.services__header Сварочные работы
                .content__wrapper
                    img.services__img(src="img/3.jpg", alt="")
                    p.content__text Наша компания выполняет комплексные услуги по металлообработке, среди которых особой популярностью пользуется сварка металлов. Мы располагаем сварочным оборудованием различного вида для выполнения сварки любым способом. Наши мастера осуществят сварку малоуглеродистых, легированных и нержавеющих сталей, проволокой в специальной среде защитных газов и смесей, а также аргонодуговую сварку металлов при помощи неплавящегося электрода легированных сталей и сплавов, работы по точечной сварки и электродуговой сварке металлов.
    include layout/footer