@media (min-width: 1230px)
    .advantages__num
        font-size: 36px
    .advantages__description
        margin-top: 13px
        font-size: inherit

@media (max-width: 1024px)
    .contacts, .header__nav, .sidebar
        display: none
    .menu-btn
        display: block
    body
        background: none

@media (max-width: 768px)
    .about
        flex-direction: column