@media (min-width: 1230px)
    .advantages__num
        font-size: 36px
    .advantages__description
        margin-top: 13px
        font-size: inherit

@media (max-width: 1024px)
    .contacts, .header__nav, .sidebar
        display: none
    .menu-btn
        display: block
    body
        background: none

@media (max-width: 768px)
    .about
        flex-direction: column
    .header
        height: 125px
        &__container
            line-height: 125px
    .menu-btn
        margin: 40px 0
@media (max-width: 425px)
    .contacts__block
        padding: 0 
        background: #fff
        width: 100%
        top: 0
        transform: translate(-50%, 0)
    .contacts__item
            padding: 0 15px