footer.footer
    .footer__container
        .lift
            div.lift__btn
                i.icon_lift.icon
            p Наверх
        .contacts
            .contacts__mail.block
                a(href="mailto:metal26@mail.ru") metal26@mail.ru
            .contacts__number.block
                a(href="tel:89187853444") +8(918)-785-34-44
