footer.footer
    .footer__container
        .lift
            div.lift__btn
                i.icon_lift.icon
            p Наверх
        .contacts
            .contacts__mail.block
                p metal26@yandex.ru
            .contacts__number.block
                p +8(918) 7853444
