header.header
    .header__container
        .logo 
            p МЕТАЛ26
        .contacts
            .contacts__mail.block
                p metal26@yandex.ru
            .contacts__number.block
                p +8(918) 7853444
            .contacts__callback-btn.block
                button Заказать звонок
            
    nav.header__nav
        ul.nav
            li.nav__block 
                a(href="#") О компании
            li.nav__block 
                a(href="#") Услиги 
            li.nav__block 
                a(href="#") Продукция 
            li.nav__block 
                a(href="#") Контакты
    
    
        