- 
    var list = [
    { title: 'Главная', link: '/' },
    { title: 'О компании', link: 'about-company.html' },
    { title: 'Услиги', link: 'services.html' },
    { title: 'Продукция ', link: 'production.html' },
    { title: 'Контакты ', link: 'contacts.html' }
 ]
mixin header(activePage)
    header.header
        .header__container
            .logo 
                a(href="/") МЕТАЛ26
            .contacts
                .contacts__mail.block
                    i.icon.icon_mail
                    a(href="mailto:metal26@mail.ru") metal26@mail.ru
                .contacts__number.block
                    i.icon.icon_phone
                    a(href="tel:89187853444") +8(918)-785-34-44
                .contacts__callback-btn.block 
                    |Заказать звонок
            
    nav.header__nav
        ul.nav
            for item in list
                li.nav__block(class=(item.title === activePage? 'active' : ''))
                    a.nav__link(href=item.link)= item.title

    
    
        