include header

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(async rel="stylesheet", href="style/main.min.css")    
    block title
      title Главная

  body
    .callback-popup.callback-popup_close
      form.callback-popup__form(method="post" action="/")
        .close-btn ЗАКРЫТЬ
        h2.callback-popup__header Заказ звонка
        input.callback-popup__input(type="text" name="name" placeholder="Имя" required)
        input.callback-popup__input(type="text" name="phoneNumber" placeholder="Телефон" required)
        input.callback-form__submit(type="submit" value="Отправить")
    .menu-btn
                span
                span
                span
    .m-menu_close.m-menu
        nav.m-menu__nav
          ul.nav
              for item in list
                  li.nav__block(class=(item.title === activePage? 'active' : ''))
                      a.nav__link(href=item.link)= item.title
        include sidebar         
    .wrapper
      block header
      .main-content
        include sidebar
        .page-main
          block body

    block script
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
      script(async src="js/main.min.js")