aside.sidebar
    .sidebar__content
        section.callback
            .callback__header
                p ОСТАВИТЬ ЗАЯВКУ
            form.callback-form(action="")
                input.callback-form__input(type="text" placeholder="Ваше имя")
                input.callback-form__input(type="text" placeholder="Ваш телефон")
                input.callback-form__input(type="email" placeholder="Ваш Email")
                textarea.callback-form__input.callback-form__message(placeholder="Сообщение...")
                input.callback-form__submit(type="button" value="Отправить заявку") 